/*
   style.css
   3 Nov 2022
   Styling for the mockups of our webapp assignment
   Written by Yuelin Kuang and Lucie Wolf
*/

* {
    font-family: "Lucida Console", "Courier New", monospace;
}

body {
    margin: 0px;
}

#title_box {
    text-align: center;
    color: beige;
    margin-bottom: 30px;
}

#games_search_container {
    display: flex;
    margin: 30px;
}

#games_container {
    flex: 2;
}

#setting_container {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}



.title {
    font-size: 36px;
    padding: 50px 0px 50px 0px;
    background-color: rgb(229, 87, 87);
}

.head_button {
    flex: 1;
    padding: 15px;
    text-decoration: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: beige;
    border: 0.1em rgb(247, 172, 172) solid;
    border-bottom: 0.2em rgb(247, 172, 172) solid;
    border-top: 0;
    background-color: rgb(229, 87, 87);
}

.buttons_container {
    height: 200px;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.search_button {
    height: 100%;
    width: 45%;
    display: inline-block;
    text-align: center;
    line-height: 200px;
    font-size: x-large;
}

.button {
    padding: 30px 50px;
    background-color: rgb(247, 172, 172);
    border-radius: 24px;
    color: beige;
    box-shadow: 5px 10px 18px #7b7b7b;
    font-size: large;
}

.button:hover {
    background-color: rgb(218, 157, 157);
    cursor: pointer;
}

.small_button {
    padding: 10px 30px;
    background-color: rgb(247, 172, 172);
    border-radius: 5px;
    color: beige;
    box-shadow: 5px 10px 18px #7b7b7b;
    font-size: 10pt;
}

table, th, td {
    border: 0.1em red solid;
    border-collapse: collapse;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;;
    background-color: rgb(246, 229, 232);
}

.images_container {
    border: 0.1em red solid;
    height: 500px; 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.image_group {
    height: 100%;
    width: 33%;
    border: 0.1em red solid;
}

.game_item {
    border: 0.1em red solid;
    margin-bottom: 20px;
    background-color: transparent;
    width:100%;
}

.game_item:hover {
    background-color: rgb(245, 223, 223);
    cursor: pointer;
}

.text_align_left {
    text-align: left;
}

.game_img {
    height: 100px;
}

h1 {
    font-size: 20pt;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}

h2 {
    font-size: 16pt;
    font-family: "Lucida Console", "Courier New", monospace;
}

.border {
    border: 0.1em red solid; 
}

.flex {
    display: flex;
}