/*
   style.css
   3 Nov 2022
   Styling for the mockups of our webapp assignment
   Written by Yuelin Kuang and Lucie Wolf
*/

* {
    font-family: "Lucida Console", "Courier New", monospace;
}

body {
    margin: 0px;
}

#main_page_image_container {
    display: flex;
    flex-wrap: wrap;
}

#main_page_buttons_container {
    padding: 70px;
    display: flex;
    justify-content: space-around;
}

#header_box {
    text-align: center;
    color: beige;
}

#header_item_container {
    display: flex;
}

#header_item_container a {
    flex: 1;
    padding: 15px;
    text-decoration: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: beige;
    border: 0.1em rgb(247, 172, 172) solid;
    border-bottom: 0.2em rgb(247, 172, 172) solid;
    border-top: 0;
    background-color: rgb(229, 87, 87);
}

#title {
    font-size: 36px;
    padding: 50px 0px 50px 0px;
    background-color: rgb(229, 87, 87);
}



#games_container {
    flex: 2;
}

#games_search_container {
    flex: 1; 
    margin-left: 20px;
}

#games_search_container > div{
    border: 0.1em red solid; 
    padding: 20px;
}



#chart_container {
    flex: 7; 
    text-align: center;
}

#stats_filters_container {
    flex: 4; 
    padding: 20px; 
    border: 0.1em red solid;
    border-right: none;
}

#stats_output_container {
    flex: 2; 
    padding: 20px;
    border: 0.1em red solid;
}



#title_search_box {
    display: flex;
}

#title_search_box label {
    flex: 1;
}

#title_search_box input {
    flex: 6;
}

#main_search {
    display: flex;
}

#main_search div {
    flex: 1;
}

#main_search > div:first-of-type {
    margin-right: 40px;
}

#developer_selector {
    width: 100%;
}



button {
    background-color: rgb(247, 172, 172);
    color: beige;
    text-align: center;
}

button:hover {
    background-color: rgb(218, 157, 157);
    cursor: pointer;
}

.big_button {
    padding: 30px 50px;
    border-radius: 24px;
    box-shadow: 5px 10px 18px #7b7b7b;
    font-size: large;
}

.small_button {
    border-radius: 3px;
    box-shadow: 1px 2px 4px #7b7b7b;
}


.all_content {
    display: flex;
    margin: 30px;
}

table, th, td {
    border: 0.1em red solid;
    border-collapse: collapse;
    padding: 10px;
    background-color: rgb(246, 229, 232);
}

.image_group {
    height: 100%;
    width: 33%;
    border: 0.1em red solid;
}

.game_item {
    border: 0.1em red solid;
    margin-bottom: 20px;
    background-color: transparent;
    padding: 20px;
    width:100%;
}

.game_item:hover {
    background-color: rgb(245, 223, 223);
    cursor: pointer;
}

.text_align_left {
    text-align: left;
}

.game_img {
    height: 100px;
}

.search_element {
    padding-bottom: 20px;
}

.search_element .div {
    display: flex;
    padding-bottom: 5px;
}

.search_element .div label {
    flex: 1;
}

h1 {
    text-align: center;
}



.game_img:hover {
    opacity: 0.8;
}

#imgModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.85); /* Black w/ opacity */
  }

  #imgEnlarged {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }

  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }

  #close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: rgb(247, 172, 172);
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  #close:hover, #close:focus {
    color:  rgb(245, 223, 223);
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    #imgEnlarged {
      width: 100%;
    }
}