{% include 'head_and_header.html' %}

<title>Search for Games</title>

<div class="all_content">
    <p id="loading_games"></p>

    <div id="games_container"></div>

    <div id="imgModal">
        <span id="close">&times;</span>
        <img id="imgEnlarged">
    </div>

    <div id="games_search_container">
        <div>
            <h1>Search</h1>

            {% include 'search_options.html' %}

            <div class="search_element">
                <h2>Sort By</h2>

                <input id="sort_title" type="radio" name="sort_by_type" value="title">
                <label for="sort_by_type">Title</label><br>
                <input id="sort_date" type="radio" name="sort_by_type" value="date">
                <label for="sort_by_type">Release Date</label><br>
                <input id="sort_price" type="radio" name="sort_by_type" value="price"> 
                <label for="sort_by_type">Price</label><br>
                <input id="sort_age" type="radio" name="sort_by_type" value="age"> 
                <label for="sort_by_type">Minimum Age</label><br>
                <input id="sort_pos_ratings" type="radio" name="sort_by_type" value="pos_ratings"> 
                <label for="sort_by_type">Number of Positive Ratings</label><br>

                <br>

                <input id="sort_asc" type="radio" name="sort_by_asc_or_desc" value="asc">
                <label for="sort_by_asc_or_desc">Ascending</label><br>
                <input id="sort_desc" type="radio" name="sort_by_asc_or_desc" value="desc">
                <label for="sort_by_asc_or_desc">Descending</label>
                
            </div></div></div>

            <button id="games_search_button" class="big_button">Search</button> 
        </div>
    </div>
</div>

</body>
</html>