{% include 'head_and_header.html' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<title>Main Page</title>

<div id="main_page_buttons_container">
    <button class="big_button" onclick="window.location.href='/games'">Search for Games</button>
    <button class="big_button" onclick="window.location.href='/stats'">Search for Statistics</button>
</div>

<div id="imgModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="imgEnlarged">
</div>

<div id="main_page_image_container"></div>
    
</body>
</html>