<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <script src="/static/functions.js"></script>
</head>

<body>
    {% include 'header.html' %}

    <div class="buttons_container">
        <div class="search_button">
            <button class="button" onclick="window.location.href='games/'">Search for Games</button>
        </div>
        <div class="search_button">
            <button class="button" onclick="window.location.href='stats/'">Search for Statistics</button>
        </div>
    </div>
    
    <div class="images_container">
        <img class="image_group" src="https://s-media-cache-ak0.pinimg.com/236x/30/7a/d2/307ad2b6fb7a15a34a28ae998c7e2431.jpg">
        <img class="image_group" src="https://s-media-cache-ak0.pinimg.com/236x/30/7a/d2/307ad2b6fb7a15a34a28ae998c7e2431.jpg">
        <img class="image_group" src="https://s-media-cache-ak0.pinimg.com/236x/30/7a/d2/307ad2b6fb7a15a34a28ae998c7e2431.jpg">
    </div>
    
</body>
</html>