/*
   style.css
   3 Nov 2022
   Styling for the mockups of our webapp assignment
   Written by Yuelin Kuang and Lucie Wolf
*/

#title {
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 36pt;
    font-family: "Lucida Console", "Courier New", monospace;
    color: beige;
    background-color: rgb(229, 87, 87);
    margin-bottom: 30px;
}

#games_search_container {
    display: flex;
    margin: 30px;
}

#games_container {
    flex: 2;
}

#setting_container {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

body {
    margin: 0px;
}

.buttons_container {
    height: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.search_buttons {
    height: 100%;
    width: 45%;
    display: inline-block;
    text-align: center;
    line-height: 200px;
}

.buttons {
    padding: 30px 50px;
    background-color: rgb(247, 172, 172);
    color: rgb(85, 85, 72); 
    border-radius: 24px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: beige;
    box-shadow: 5px 10px 18px #7b7b7b;
    font-size: large;
}

.images_container {
    border: 0.1em red solid;
    height: 500px; 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.image_group {
    height: 100%;
    width: 33%;
    border: 0.1em red solid;
}

.game_item {
    height: 100px;
    border: 0.1em red solid;
    margin-bottom: 20px;
}

h1 {
    font-size: 20pt;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}


.border {
    border: 0.1em red solid; 
}

